epi-workspace/tests/resources/leaflet-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="section" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="header">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="b">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="span" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="class"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="p">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="i" minOccurs="0"/>
                    <xs:element type="xs:string" name="sup" minOccurs="0"/>
                    <xs:element name="b" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="i"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="sub" minOccurs="0"/>
                    <xs:element name="video" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="source">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="src"/>
                                  <xs:attribute type="xs:string" name="type"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="chapter" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:time" name="timestamp" use="optional"/>
                                  <xs:attribute type="xs:string" name="label" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="width"/>
                        <xs:attribute type="xs:byte" name="height"/>
                        <xs:attribute type="xs:string" name="controls"/>
                        <xs:attribute type="xs:string" name="title"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="div">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="p" minOccurs="0"/>
                    <xs:element name="div" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="figure">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="img">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="src"/>
                                        <xs:attribute type="xs:string" name="alt"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="p">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="b"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="style"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="style" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="table">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="caption">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="b" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="u"/>
                                <xs:element type="xs:byte" name="sup"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="thead" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="th" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="b" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="scope" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="style" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tr" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="th" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="i" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="scope" use="optional"/>
                              <xs:attribute type="xs:string" name="valign" use="optional"/>
                              <xs:attribute type="xs:byte" name="colspan" use="optional"/>
                              <xs:attribute type="xs:byte" name="rowspan" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="td" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="p" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="valign" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tbody" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tr" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:choice maxOccurs="unbounded" minOccurs="0">
                                <xs:element type="xs:short" name="td"/>
                                <xs:element name="th">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="scope" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:choice>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="tfoot" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="tr">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="th">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="scope"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="td">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:byte" name="colspan"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="cellspacing" use="optional"/>
                  <xs:attribute type="xs:byte" name="border" use="optional"/>
                  <xs:attribute type="xs:string" name="width" use="optional"/>
                  <xs:attribute type="xs:string" name="style" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="section">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="table">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="caption">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="b"/>
                                <xs:element type="xs:string" name="i"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="thead">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="tr">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="th" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="b"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="scope" use="optional"/>
                                          <xs:attribute type="xs:string" name="width" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="tr" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="th" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="p"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="scope"/>
                                    <xs:attribute type="xs:string" name="width"/>
                                    <xs:attribute type="xs:byte" name="rowspan"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="td" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element name="figure" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="img">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute type="xs:string" name="src"/>
                                                          <xs:attribute type="xs:string" name="alt"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="p">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="b"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:byte" name="page"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="page"/>
                                                <xs:attribute type="xs:string" name="class"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="page" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="figure" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="img">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="src"/>
                                                    <xs:attribute type="xs:string" name="alt"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="p">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="b"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="page"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:byte" name="page"/>
                                          <xs:attribute type="xs:string" name="class"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="valign" use="optional"/>
                                    <xs:attribute type="xs:string" name="width" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="cellspacing"/>
                        <xs:attribute type="xs:byte" name="border"/>
                        <xs:attribute type="xs:string" name="width"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="figure">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="img">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="src"/>
                            <xs:attribute type="xs:string" name="alt"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="p">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="b"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:byte" name="level" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type"/>
    </xs:complexType>
  </xs:element>
</xs:schema>