epi-workspace/tests/resources/leaflet-schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- Attribute groups -->
    <xs:attributeGroup name="basicAttributes">
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="styledAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="style" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="sectionAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="level" type="xs:positiveInteger"/>
        <xs:attribute name="page" type="xs:string"/>
        <xs:attribute name="left" type="xs:string"/>
        <xs:attribute name="top" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="listAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="data-type" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="listLineAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="data-enum" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="tableAttributes">
        <xs:attributeGroup ref="styledAttributes"/>
        <xs:attribute name="cellspacing" type="xs:string"/>
        <xs:attribute name="cellpadding" type="xs:string"/>
        <xs:attribute name="border" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
        <xs:attribute name="height" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="cellAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="colspan" type="xs:positiveInteger"/>
        <xs:attribute name="rowspan" type="xs:positiveInteger"/>
        <xs:attribute name="scope" type="xs:string"/>
        <xs:attribute name="valign" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
        <xs:attribute name="align" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="videoAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="src" type="xs:string"/>
        <xs:attribute name="alt" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
        <xs:attribute name="height" type="xs:string"/>
        <xs:attribute name="controls" type="xs:boolean"/>
        <xs:attribute name="autoplay" type="xs:boolean"/>
        <xs:attribute name="loop" type="xs:boolean"/>
        <xs:attribute name="muted" type="xs:boolean"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="title" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="imageAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="src" type="xs:string"/>
        <xs:attribute name="alt" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="height" type="xs:string"/>
        <xs:attribute name="width" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="documentAttributes">
        <xs:attributeGroup ref="basicAttributes"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="version" type="xs:string"/>
    </xs:attributeGroup>
   

    <!-- Type for document -->
    <xs:complexType name="documentType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="section" type="sectionType"/>
        </xs:choice>
        <xs:attributeGroup ref="documentAttributes"/>
    </xs:complexType>

    <!-- Type for sections -->
    <xs:complexType name="sectionType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- Can contain any element -->
            <xs:element name="header" type="headerType"/>
            <xs:element name="p" type="pType"/>
            <xs:element name="div" type="blockContentType"/>
            <xs:element name="ul" type="listType"/>
            <xs:element name="ol" type="listType"/>
            <xs:element name="br" type="xs:string"/>
            <xs:element name="table" type="tableType"/>
            <xs:element name="img" type="imageType"/>
            <xs:element name="figure" type="blockContentType"/>
            <xs:element name="video" type="videoType"/>
            <xs:element name="section" type="sectionType"/>
            <xs:element name="caption" type="blockContentType"/>

            
            <!-- Inline elements also allowed in sections -->
            <xs:element name="b" type="inlineTextType"/>
            <xs:element name="i" type="inlineTextType"/>
            <xs:element name="u" type="inlineTextType"/>
            <xs:element name="sup" type="inlineTextType"/>
            <xs:element name="sub" type="inlineTextType"/>
            <xs:element name="span" type="inlineTextType"/>
            <xs:element name="ins" type="inlineTextType"/>
        </xs:choice>
        <xs:attributeGroup ref="sectionAttributes"/>
    </xs:complexType>

    <!-- Type for sections headers -->
    <xs:complexType name="headerType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="p"/>
    	    <xs:element name="br" type="xs:string" />
            <xs:element name="b" type="inlineTextType"/>
            <xs:element name="i" type="inlineTextType"/>
            <xs:element name="u" type="inlineTextType"/>
            <xs:element name="sup" type="inlineTextType"/>
            <xs:element name="sub" type="inlineTextType"/>
            <xs:element name="span" type="inlineTextType"/>
            <xs:element name="ins" type="inlineTextType"/>
		</xs:choice>
		 <xs:attributeGroup ref="styledAttributes"/>
	</xs:complexType>

    <!-- type for Paragrahs  -->
    <xs:complexType name="pType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="figure" type="blockContentType"/>
            <xs:element name="p" type="pType"/>
            <xs:element name="i" type="inlineTextType"/>
            <xs:element name="b" type="inlineTextType"/>
            <xs:element name="u" type="inlineTextType"/>
            <xs:element name="ins" type="inlineTextType"/>
            <xs:element name="div" type="blockContentType"/>
            <xs:element name="sub" type="inlineTextType"/>
            <xs:element name="sup" type="inlineTextType"/>
            <xs:element name="br" type="xs:string"/>
            <xs:element name="a" type="anchorType"/>
            <xs:element name="ul" type="listType"/>
            <xs:element name="ol" type="listType"/>
            <xs:element name="video" type="videoType"/>
            <xs:element name="img" type="imageType"/>
            <xs:element name="caption" type="blockContentType"/>
        </xs:choice>
        <xs:attributeGroup ref="sectionAttributes"/>
    </xs:complexType>

    <!-- Type for inline text elements that can contain other inline elements -->
    <xs:complexType name="inlineTextType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="b" type="inlineTextType"/>
            <xs:element name="i" type="inlineTextType"/>
            <xs:element name="u" type="inlineTextType"/>
            <xs:element name="sup" type="inlineTextType"/>
            <xs:element name="sub" type="inlineTextType"/>
            <xs:element name="span" type="inlineTextType"/>
            <xs:element name="ins" type="inlineTextType"/>
        </xs:choice>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <!-- Type for elements that can contain any block or inline content -->
    <xs:complexType name="blockContentType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- Inline elements -->
            <xs:element name="b" type="inlineTextType" />
            <xs:element name="i" type="inlineTextType" />
            <xs:element name="u" type="inlineTextType" />
            <xs:element name="sup" type="inlineTextType" />
            <xs:element name="sub" type="inlineTextType" />
            <xs:element name="span" type="inlineTextType" />
            <xs:element name="a" type="anchorType" />
            
            <!-- Block elements -->
            <xs:element name="p" type="pType"/>
            <xs:element name="br" type="xs:string"/>

            <xs:element name="div" type="blockContentType"/>
            <xs:element name="header" type="headerType"/>
            
            <!-- Lists -->
            <xs:element name="ul" type="listType"/>
            <xs:element name="ol" type="listType"/>
            <xs:element name="caption" type="blockContentType"/>

            <!-- Tables -->
            <xs:element name="table" type="tableType"/>
            
            <!-- Media -->
            <xs:element name="img" type="imageType"/>
            <xs:element name="figure" type="blockContentType"/>
            <xs:element name="video" type="videoType"/>
            
            <!-- Sections -->
            <xs:element name="section" type="sectionType"/>
        </xs:choice>
        <xs:attributeGroup ref="styledAttributes"/>
    </xs:complexType>


    <!-- Specific type for lists -->
    <xs:complexType name="listLineType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- Inline elements -->
            <xs:element name="b" type="inlineTextType" />
            <xs:element name="i" type="inlineTextType" />
            <xs:element name="u" type="inlineTextType" />
            <xs:element name="sup" type="inlineTextType" />
            <xs:element name="sub" type="inlineTextType" />
            <xs:element name="span" type="inlineTextType" />
            <xs:element name="a" type="anchorType" />
            
            <!-- Block elements -->
            <xs:element name="p" type="pType"/>
            <xs:element name="br" type="xs:string"/>
            <xs:element name="div" type="blockContentType"/>
            
            <!-- Lists -->
            <xs:element name="ul" type="listType"/>
            <xs:element name="ol" type="listType"/>
            
            <!-- Media -->
            <xs:element name="img" type="imageType"/>
            <xs:element name="figure" type="blockContentType"/>
            <xs:element name="video" type="videoType"/>

            <xs:element name="table" type="tableType"/>
        </xs:choice>
        <xs:attributeGroup ref="listLineAttributes"/>
    </xs:complexType>

    <xs:complexType name="listType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="li" type="listLineType"/>
        </xs:sequence>
        <xs:attributeGroup ref="listAttributes"/>
    </xs:complexType>


    <!-- Specific type for tables -->
    <xs:complexType name="tableType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="caption" type="blockContentType"/>
            <xs:element name="thead" type="tableGroupType"/>
            <xs:element name="tbody" type="tableGroupType"/>
            <xs:element name="tfoot" type="tableGroupType"/>
            <xs:element name="tr" type="rowType"/>
        </xs:choice>
        <xs:attributeGroup ref="tableAttributes"/>
    </xs:complexType>

    <!--Type for html anchors -->
    <xs:complexType name="anchorType" mixed="true">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="href" type="xs:anyURI" use="required"/>
                <xs:attribute name="target" type="xs:string" />
                <xs:attribute name="rel" type="xs:string" />
                <xs:attribute name="title" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <!-- Type for table groups (thead, tbody, tfoot) -->
    <xs:complexType name="tableGroupType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="tr" type="rowType"/>
        </xs:choice>
        <xs:attributeGroup ref="basicAttributes"/>
    </xs:complexType>

    <!-- Type for table rows -->
    <xs:complexType name="rowType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="th" type="cellType"/>
            <xs:element name="td" type="cellType"/>
        </xs:choice>
        <xs:attributeGroup ref="styledAttributes"/>
    </xs:complexType>

    <!-- Type for table cells -->
    <xs:complexType name="cellType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <!-- Can contain any block or inline content -->
            <xs:element name="b" type="inlineTextType"/>
            <xs:element name="i" type="inlineTextType"/>
            <xs:element name="u" type="inlineTextType"/>
            <xs:element name="sup" type="inlineTextType"/>
            <xs:element name="sub" type="inlineTextType"/>
            <xs:element name="span" type="inlineTextType"/>
            <xs:element name="p" type="pType"/>
            <xs:element name="div" type="blockContentType"/>
            <xs:element name="br" type="xs:string"/>
            <xs:element name="ul" type="listType"/>
            <xs:element name="ol" type="listType"/>
            <xs:element name="table" type="tableType"/>
            <xs:element name="img" type="imageType"/>
            <xs:element name="figure" type="blockContentType"/>
            <xs:element name="video" type="videoType"/>
        </xs:choice>
        <xs:attributeGroup ref="cellAttributes"/>
    </xs:complexType>

    <!-- Type for images -->
    <xs:complexType name="imageType">
        <xs:attributeGroup ref="imageAttributes"/>
    </xs:complexType>

    <!-- Type for videos -->
    <xs:complexType name="videoType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="source" type="sourceType"/>
            <xs:element name="chapter" type="chapterType"/>
        </xs:choice>
        <xs:attributeGroup ref="videoAttributes"/>
    </xs:complexType>

    <!-- Type for video chapters -->
    <xs:complexType name="chapterType">
        <xs:choice>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:choice>
        <xs:attribute name="timestamp" type="xs:string" />
        <xs:attribute name="label" type="xs:string" />
        <xs:attribute name="id" type="xs:string" />
        <xs:attribute name="title" type="xs:string" />
        <xs:attribute name="start" type="xs:integer" />
        <xs:attribute name="end" type="xs:integer" />
    </xs:complexType>

    <!-- Type for video source -->
    <xs:complexType name="sourceType">
        <xs:attributeGroup ref="videoAttributes"/>
    </xs:complexType>

    <!-- Root elements -->
    <xs:element name="document" type="documentType"/>
    <xs:element name="root" type="documentType"/>

</xs:schema>
